<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
    <li>
      <a href="{% url 'alerts' %}"> <i class="bi bi-circle"></i><span>Alerts</span> </a>
    </li>
    <li>
      <a href="{% url 'accordiants' %}"> <i class="bi bi-circle"></i><span>Accordion</span> </a>
    </li>
    <li>
      <a href="{% url 'badges' %}"> <i class="bi bi-circle"></i><span>Badges</span> </a>
    </li>
    <li>
      <a href="{% url 'breadcrumbs' %}"> <i class="bi bi-circle"></i><span>Breadcrumbs</span> </a>
    </li>
    <li>
      <a href="{% url 'buttons' %}"> <i class="bi bi-circle"></i><span>Buttons</span> </a>
    </li>
    <li>
      <a href="{% url 'cards' %}"> <i class="bi bi-circle"></i><span>Cards</span> </a>
    </li>
    <li>
      <a href="{% url 'carousel' %}"> <i class="bi bi-circle"></i><span>Carousel</span> </a>
    </li>
    <li>
      <a href="{% url 'list-group' %}"> <i class="bi bi-circle"></i><span>List group</span> </a>
    </li>
    <li>
      <a href="{% url 'modal' %}"> <i class="bi bi-circle"></i><span>Modal</span> </a>
    </li>
    <li>
      <a href="{% url 'tabs' %}"> <i class="bi bi-circle"></i><span>Tabs</span> </a>
    </li>
    <li>
      <a href="{% url 'pagination' %}"> <i class="bi bi-circle"></i><span>Pagination</span> </a>
    </li>
    <li>
      <a href="{% url 'progress' %}"> <i class="bi bi-circle"></i><span>Progress</span> </a>
    </li>
    <li>
      <a href="{% url 'spinners' %}"> <i class="bi bi-circle"></i><span>Spinners</span> </a>
    </li>
    <li>
      <a href="{% url 'tooltips' %}"> <i class="bi bi-circle"></i><span>Tooltips</span> </a>
    </li>
  </ul>
</li>
