{% load static %}
<div class="col-lg-8">
  <div class="row">
    <!-- gross-sales -->
    {% include "adminweb/mainbase/left-coloums/gross-sales.html" %}
    <!-- Endgross-sales -->

    <!-- net-sales -->
    {% include "adminweb/mainbase/left-coloums/net-sales.html" %}
    <!-- End net-sales -->

    <!-- gross-profit -->
    {% include "adminweb/mainbase/left-coloums/gross-profit.html" %}
    <!-- Endgross-profit -->

    <!-- average -->
    {% include "adminweb/mainbase/left-coloums/average.html" %}
    <!-- End average -->

    <!-- gross-margin -->
    {% include "adminweb/mainbase/left-coloums/gross-margin.html" %}
    <!-- End gross-margin -->

    <!-- Customer -->
    {% include "adminweb/mainbase/left-coloums/customer.html" %}
    <!-- End Customer -->

    <!-- Reports -->
    {% include "adminweb/mainbase/left-coloums/reports.html" %}
    <!-- EndReports -->

    <!-- Recent Sales -->
    {% include "adminweb/mainbase/left-coloums/recent1.html" %}
    <!-- End Recent Sales -->

    <!-- Recent Sales -->
    {% include "adminweb/mainbase/left-coloums/recent2.html" %}
    <!-- End Recent Sales -->

    <!-- Top Selling -->
    {% include "adminweb/mainbase/left-coloums/top-selling.html" %}
    <!-- End Top Selling -->
  </div>
</div>