<!-- Left side columns -->
<div class="col-lg-8">
  <div class="row">
    <!-- Sales Card -->
    <!-- {% include "adminweb/mainbase/left-coloums/sales.html" %} -->
    <!-- End Sales Card -->

    <!-- Store(Toko/Cabang) Card -->
    <!-- {% include "adminweb/mainbase/left-coloums/store.html" %} -->
    <!-- End Sales Card -->

    <!-- Revenue Card -->
    <!-- {% include "adminweb/mainbase/left-coloums/revenue.html" %} -->
    <!-- End Revenue Card -->

    <!-- Product Card -->
    <!-- {% include "adminweb/mainbase/left-coloums/product.html" %} -->
    <!-- End Product Card -->

    <!-- Customers Card -->
    <!-- {% include "adminweb/mainbase/left-coloums/customer.html" %} -->
    <!-- End Customers Card -->

    <!-- Reports -->
    <!-- {% include "adminweb/mainbase/left-coloums/reports.html" %} -->
    <!-- End Reports -->

    <!-- Recent1 Sales -->
    <!-- {% include "adminweb/mainbase/left-coloums/recent1.html" %} -->
    <!-- End Recent1 Sales -->

    <!-- Recent2 Sales -->
    <!-- {% include "adminweb/mainbase/left-coloums/recent2.html" %} -->
    <!-- End Recent2 Sales -->

    <!-- Top Selling -->
    <!-- {% include "adminweb/mainbase/left-coloums/top_selling.html" %} -->
    <!-- End Top Selling -->
  </div>
</div>
<!-- End Left side columns -->
