<div class="col-lg-4">
  <!-- Recent Activity -->
  <!-- {% include "adminweb/mainbase/right_coloums/recent-activity.html" %} -->
  <!-- End Recent Activity -->

  <!-- Budget Report -->
  <!-- {% include "adminweb/mainbase/right_coloums/budget.html" %} -->
  <!-- End Budget Report -->

  <!-- Website Traffic -->
  <!-- {% include "adminweb/mainbase/right_coloums/website-traffic.html" %} -->
  <!-- End Website Traffic -->

  <!-- News & Updates Traffic -->
  <!-- {% include "adminweb/mainbase/right_coloums/news.html" %} -->
  <!-- End News & Updates -->
</div>
