{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">
        <i class="bi bi-grid"></i>
        <span>Menu Utama</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <!-- Components -->

    <!-- End Components Nav -->

    <!-- Form -->

    <!-- End Forms Nav -->

    <!-- Tables Nav -->

    <!-- End Tables Nav -->

    <!-- Charts Nav -->

    <!-- End Charts Nav -->

    <!-- Icons Nav -->

    <!-- End Icons Nav -->

    <!-- <li class="nav-heading">Pages</li> -->

    <!-- Profile Page Nav -->

    <!-- End Profile Page Nav -->

    <!-- F.A.Q Page Nav -->

    <!-- End F.A.Q Page Nav -->

    <!-- Contact Page Nav -->

    <!-- End Contact Page Nav -->

    <!-- Register Page Nav -->

    <!-- End Register Page Nav -->

    <!-- Login Page Nav -->

    <!-- End Login Page Nav -->

    <!-- Error 404 Page Nav -->

    <!-- End Error 404 Page Nav -->

    <!-- Blank Page Nav -->

    <!-- End Blank Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
